<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="why-1166">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Stat Group-->
            <div class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/why-icon.svg" alt="icon" width="48" height="48" aria-hidden="true">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">2534+</span>
                    <span class="cs-desc">Satisfied Clients</span>
                </div>
            </div>
            
            <!--Car-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/car.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/car.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/car.png" alt="appliance" width="858" height="477">
            </picture>

            <!--Person, to make your own crop of a person, use https://www.remove.bg/ to remove the background of any image -->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic27.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic27.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic27.png" alt="appliance" width="438" height="588">
            </picture>

            <!--Stripe background-->
            <div class="cs-graphic-wrapper">
                <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1469" height="626" aria-hidden="true">
            </div>

        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Why Choose Us</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptas repellat, ullam enim ad ratione delectus. Possimus dolores impedit perspiciatis ea alias, ex ab deserunt Qui.
            </p>
            <ul class="cs-list">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/247.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Wheel Alignment</h3>
                        <p class="cs-li-text">
                            We provide top notch Wheel alignment service for all types of vehicle makes and models.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/members.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Wheel Alignment</h3>
                        <p class="cs-li-text">
                            We provide top notch Wheel alignment service for all types of vehicle makes and models.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/clock-zoom.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Wheel Alignment</h3>
                        <p class="cs-li-text">
                            We provide top notch Wheel alignment service for all types of vehicle makes and models.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1080">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic4.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic4.jpg" alt="mechanic" width="217" height="440">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic5.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic5.jpg" alt="mechanic" width="305" height="600">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic6.jpg" alt="mechanic" width="216" height="440">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes.svg" alt="stripes" width="509" height="535" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Safety is Our First & Main Priority</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci possimus accusantium quod voluptatum mollitia unde pariatur nam ipsum provident blanditiis.
            </p>
            <ul class="cs-list">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
            <a class="cs-link" href="tel:555-555-0234">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-phone.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Call Anytime</span>
                    <span class="cs-link-content">(+123) 5462 3257</span>
                </div>
            </a>
        </div>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  /*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-1166 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        background-color: #1a1a1a;
    }
    #why-1166 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #why-1166 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #why-1166 .cs-text {
        margin-bottom: 1rem;
    }
    #why-1166 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #why-1166 .cs-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
    }
    #why-1166 .cs-li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.25rem);
    }
    #why-1166 .cs-li-picture {
        /* 60px - 80px */
        width: clamp(3.75rem, 6vw, 5rem);
        height: clamp(3.75rem, 6vw, 5rem);
        margin: 0;
        background-color: #f7f7f7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #why-1166 .cs-li-icon {
        /* 24px - 32px */
        width: clamp(1.5rem, 3vw, 2rem);
        height: auto;
        display: block;
    }
    #why-1166 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        margin: 0 0 0.75rem 0;
        color: var(--bodyTextColorWhite);
    }
    #why-1166 .cs-li-text {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #why-1166 .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
        font-size: min(1.7vw, 0.7em);
        width: 53.625em;
        height: auto;
        /* 60px - 80px */
        padding-top: clamp(3.75rem, 6vw, 5rem);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        /* 48px - 64px, changes to 36px at large desktop */
        row-gap: clamp(3rem, 6vw, 4rem);
        position: relative;
        z-index: 1;
    }
    #why-1166 .cs-graphic-wrapper {
        width: 100vw;
        height: 85%;
        background-color: #1a1a1a;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        transform: translateX(-50%);
    }
    #why-1166 .cs-graphic {
        /* changes at tablet */
        width: 250vw;
        height: auto;
        opacity: 0.04;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-10deg);
    }
    #why-1166 .cs-stat {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    #why-1166 .cs-icon-wrapper {
        /* 72px - 96px */
        width: clamp(4.5rem, 12vw, 6rem);
        height: clamp(4.5rem, 12vw, 6rem);
        background-color: #484848;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #why-1166 .cs-icon {
        /* 32px - 48px */
        width: clamp(2rem, 6vw, 3rem);
    }
    #why-1166 .cs-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #why-1166 .cs-number {
        font-size: clamp(1.9375rem, 5.9vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #why-1166 .cs-desc {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #why-1166 .cs-picture1 {
        width: auto;
        height: 29.8125em;
        display: block;
        position: absolute;
        bottom: 1.25em;
        left: 0;
        z-index: 10;
    }
    #why-1166 .cs-picture1 img {
        height: 100%;
        width: auto;
    }
    #why-1166 .cs-picture2 {
        width: auto;
        height: 33.625em;
        display: flex;
        align-items: flex-start;
        position: relative;
        margin: 0 auto;
        z-index: 10;
    }
    #why-1166 .cs-picture2 img {
        height: 100%;
        width: auto;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-1166 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    #why-1166 .cs-content {
        width: 47%;
    }
    #why-1166 .cs-image-group {
        font-size: min(1vw, 1em);
        width: 32.625em;
        height: 100%;
        padding: 0;
        flex: none;
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: 9.375em;
    }
    #why-1166 .cs-graphic-wrapper {
        width: 32.625em;
        height: 87%;
    }
    #why-1166 .cs-graphic {
        /* changes at large desktop */
        width: 122.375em;
        top: 0;
        transform: translateX(-50%) rotate(-10deg);
    }
    #why-1166 .cs-picture1 {
        height: 62%;
        max-height: 29.8125em;
        right: auto;
        left: 50%;
        transform: translateX(-54%);
    }
    #why-1166 .cs-picture2 {
        height: 67%;
        max-height: 33.625em;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #why-1166 .cs-image-group {
        margin-right: 3.125em;
        gap: 2.25em;
    }
    #why-1166 .cs-graphic-wrapper {
        height: 83%;
    }
    #why-1166 .cs-graphic {
        width: 93.5em;
        right: -1.25em;
        top: 6.875em;
        left: auto;
        transform: rotate(-10deg);
    }
}

                                

                                
/* SBS 2 */

    #sbsr-1080 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
    }
    #sbsr-1080 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-1080 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        /* changes to 433px at desktop */
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    .cs-title {
        color: var(--bodyTextColorWhite);
    }
    .cs-text {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #sbsr-1080 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-1080 .cs-list {
        max-width: 39.375rem;
        margin: 0 0 2rem 0;
        padding: 0;
        /* clips the bullets to create the half circle */
        overflow: hidden;
    }
    #sbsr-1080 .cs-li {
        list-style: none;
        margin: 0 0 0.5rem 0;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.75rem;
        position: relative;
    }
    #sbsr-1080 .cs-li:before {
        /* bullet */
        content: "";
        width: 1rem;
        height: 1rem;
        margin-top: 0.1875rem;
        /* make it overflow the parent by half it's width to make an eclipse */
        margin-left: -0.5rem;
        background: var(--secondary);
        border-radius: 50%;
        display: block;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #sbsr-1080 .cs-link {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        position: relative;
    }
    #sbsr-1080 .cs-link:hover .cs-wrapper {
        transform: scale(1.1);
    }
    #sbsr-1080 .cs-wrapper {
        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        transition: transform 0.3s;
    }
    #sbsr-1080 .cs-icon {
        width: 1.5rem;
        height: auto;
        display: block;
        transition: transform 0.3s;
    }
    #sbsr-1080 .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #sbsr-1080 .cs-header {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
        display: block;
    }
    #sbsr-1080 .cs-link-content {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 4vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #sbsr-1080 .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
        font-size: min(1.959vw, 0.745em);
        width: 46.125em;
        height: 41.375em;
        display: block;
        position: relative;
        z-index: 1;
    }
    #sbsr-1080 .cs-picture {
        position: absolute;
    }
    #sbsr-1080 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbsr-1080 .cs-picture1 {
        width: 13.6875em;
        height: 27.5em;
        top: 6.375em;
        right: 0;
        z-index: -1;
    }
    #sbsr-1080 .cs-picture2 {
        width: 19.1875em;
        height: 37.5em;
        bottom: 0;
        right: 13.5625em;
        z-index: 10;
    }
    #sbsr-1080 .cs-picture3 {
        width: 13.625em;
        height: 27.5em;
        top: 11.375em;
        left: 0;
        z-index: -1;
    }
    #sbsr-1080 .cs-stripes {
        width: 36.125em;
        height: auto;
        display: block;
        position: absolute;
        top: 0em;
        right: 4.5em;
        z-index: -2;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1080 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #sbsr-1080 .cs-content {
        max-width: 27.0625rem;
    }
    #sbsr-1080 .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
        /* sends it to the right in the 2nd position */
        order: 2;
    }
}

                                
</style>